/java/*.class
/java/build
/java/.gradle

/scala/*.class
/scala/build
/scala/.gradle
/scala/.cache-main

/python/*.pyc

/csharp/Person/[Bb]in/
/csharp/Person/[Oo]bj/
/csharp/packages/
/csharp/.nuget/
/csharp/TestResult.xml
/csharp/*.userprefs

/objective-c/build
/objective-c/**/xcuserdata
/objective-c/**/*.xccheckout

/swift/build
/swift/**/xcuserdata
/swift/**/*.xccheckout
