/java/*.class
/java/build
/java/.gradle

/python/*.pyc

/csharp/Person/[Bb]in/
/csharp/Person/[Oo]bj/
/csharp/packages/
/csharp/.nuget/
/csharp/TestResult.xml
/csharp/*.userprefs

/objective-c/build
/objective-c/**/xcuserdata
/objective-c/**/*.xccheckout
